/Java/aula03/OlaMundoSwing/nbproject/private/
/Java/aula03/OlaMundoSwing/build/
/Java/aula03/OlaMundoJavaFX/nbproject/private/
/Java/aula03/OlaMundoJavaFX/build/
/Java/aula03/OlaMundoJavaFX/dist/
/Java/aula03/RelogioSwing/nbproject/private/
/Java/aula03/RelogioSwing/build/
/Java/aula04/TiposPrimitivos/nbproject/private/
/Java/aula04/TiposPrimitivos/build/
/Java/aula04/TesteTipos/nbproject/private/
/Java/aula04/TesteTipos/build/
/Java/aula04/SomaSwing/nbproject/private/
/Java/aula04/SomaSwing/build/
/Java/aula04/CalculadoraIdade/nbproject/private/
/Java/aula04/CalculadoraIdade/build/
/Java/aula05/OperadoresAritimeticos/nbproject/private/
/Java/aula05/OperadoresAritimeticos/build/
/Java/aula05/OperadoresSwing/nbproject/private/
/Java/aula05/OperadoresSwing/build/
/Java/aula05/SuperCalculadora/nbproject/private/
/Java/aula05/SuperCalculadora/build/
/Java/aula06/OperadorTernario/nbproject/private/
/Java/aula06/OperadorTernario/build/
/Java/aula06/ComparacaoString/nbproject/private/
/Java/aula06/ComparacaoString/build/
/Java/aula06/OperadoresLogicos/nbproject/private/
/Java/aula06/OperadoresLogicos/build/
/Java/aula06/VerificadorIdadeSwing/nbproject/private/
/Java/aula06/VerificadorIdadeSwing/build/
/Java/aula06/LeitorDePensamento/nbproject/private/
/Java/aula06/LeitorDePensamento/build/
/Java/aula06/BibliaNova/nbproject/private/
/Java/aula06/BibliaNova/build/
/Java/PorFora/Crud_Java_/nbproject/private/
/Java/PorFora/Crud_Java_/build/
/Java/PorFora/Modelo1/nbproject/private/
/Java/PorFora/Modelo1/build/
/Java/PorFora/Modelo2/nbproject/private/
/Java/PorFora/Modelo2/build/
/Java/PorFora/Modelo_2/nbproject/private/
/Java/PorFora/Modelo_2/build/
/Java/PorFora/Aula3/nbproject/private/
/Java/PorFora/Aula3/build/
/Java/PorFora/InterfaceGrafica/nbproject/private/
/Java/PorFora/InterfaceGrafica/build/
/Java/PorFora/Encapsulamento_Aula/nbproject/private/
/Java/PorFora/Modelo3_Video/nbproject/private/
/Java/PorFora/Modelo3_Video/build/
/Java/PorFora/ProjetoBiblioteca/nbproject/private/
/Java/PorFora/ProjetoBiblioteca/build/
/Java/PorFora/NovaCanaa/nbproject/private/
/Java/PorFora/NovaCanaa/build/
